<div id="sidebar_simple">
  <div class="menu">
    <div class="sidebar-category">
      <i class="fa fa-sort-desc arrow-desc"></i>
      <h2>Chercher un job</h2>
    </div>
    <ul class="sidebar_sub_cat hidden list-unstyled">
      <li>Sous Catégorie 1</li>
      <li>Sous Catégorie 2</li>
    </ul>
  </div>
  <div class="menu">
    <div class="sidebar-category">
      <i class="fa fa-sort-desc arrow-desc"></i>
      <h2>Changer de métier</h2>
    </div>
    <ul class="sidebar_sub_cat hidden list-unstyled">
      <li>Sous Catégorie 1</li>
      <li>Sous Catégorie 2</li>
    </ul>
  </div>
  <div class="menu">
    <div class="sidebar-category">
      <i class="fa fa-sort-desc arrow-desc"></i>
      <h2>Changer de boite</h2>
    </div>
    <ul class="sidebar_sub_cat hidden list-unstyled">
      <li>Sous Catégorie 1</li>
      <li>Sous Catégorie 2</li>
    </ul>
  </div>
  <div class="menu">
    <div class="sidebar-category">
      <i class="fa fa-sort-desc arrow-desc"></i>
      <h2>Créer sa boite</h2>
    </div>
    <ul class="sidebar_sub_cat hidden list-unstyled">
      <li>Sous Catégorie 1</li>
      <li>Sous Catégorie 2</li>
    </ul>
  </div>
  <div class="menu">
    <div class="sidebar-category">
      <i class="fa fa-sort-desc arrow-desc"></i>
      <h2>Intraprendre</h2>
    </div>
    <ul class="sidebar_sub_cat hidden list-unstyled">
      <li>Sous Catégorie 1</li>
      <li>Sous Catégorie 2</li>
    </ul>
  </div>
  <div class="menu">
    <div class="sidebar-category">
      <i class="fa fa-sort-desc arrow-desc"></i>
      <h2>Innover au boulot</h2>
    </div>
    <ul class="sidebar_sub_cat hidden list-unstyled">
      <li>Sous Catégorie 1</li>
      <li>Sous Catégorie 2</li>
    </ul>
  </div>
</div>
