<div id="sidebar">
    <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Chercher un job
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#">Sous Catégorie 1</a></li>
      <li><a href="#">Sous Catégorie 2</a></li>
      <li><a href="#">Sous Catégorie 3</a></li>
      <li><a href="#">Sous Catégorie 4</a></li>
    </ul>
  </div>
    <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Changer de métier
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#">Sous Catégorie 1</a></li>
      <li><a href="#">Sous Catégorie 2</a></li>
      <li><a href="#">Sous Catégorie 3</a></li>
      <li><a href="#">Sous Catégorie 4</a></li>
    </ul>
  </div>
    <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Changer de boite
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#">Sous Catégorie 1</a></li>
      <li><a href="#">Sous Catégorie 2</a></li>
      <li><a href="#">Sous Catégorie 3</a></li>
      <li><a href="#">Sous Catégorie 4</a></li>
    </ul>
  </div>
    <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Entreprendre
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#">Sous Catégorie 1</a></li>
      <li><a href="#">Sous Catégorie 2</a></li>
      <li><a href="#">Sous Catégorie 3</a></li>
      <li><a href="#">Sous Catégorie 4</a></li>
    </ul>
  </div>
    <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Intraprendre
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#">Sous Catégorie 1</a></li>
      <li><a href="#">Sous Catégorie 2</a></li>
      <li><a href="#">Sous Catégorie 3</a></li>
      <li><a href="#">Sous Catégorie 4</a></li>
    </ul>
  </div>
    <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Innover au boulot
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#">Sous Catégorie 1</a></li>
      <li><a href="#">Sous Catégorie 2</a></li>
      <li><a href="#">Sous Catégorie 3</a></li>
      <li><a href="#">Sous Catégorie 4</a></li>
    </ul>
  </div>
</div>
