<%= render "ressource_sidebar_simple" %>

<div class="container">
  <div class="row">
<!--     <div class="col-xs-3">

    </div> -->
    <div class="col-xs-offset-6 col-xs-6 col-md-offset-2 col-md-10">
      <div id="bonplan" class="padded text-center">
        <h1>Le 1er guide qui vous aide à trouver le job de vos rêves</h1>
        <p>Parce que nous sommes tous dans le même bateau autant profiter des bons plans, adresses et conseils de chacun !</p>
        <%= link_to "Partagez vos bons plans", new_ressource_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>

