/* -------------------------------------
 * Base elements style (h1, h2, p, a, ul..)
 * ============= IMPORTANT =============
 * Before writing in this file, look if there is not
 * already a Bootstrap SCSS variable that does the same job
 * ------------------------------------- */
#banner {
  h1 {
    font-size: 60px;
    color: white;
  }
}

h1 {
  font-size: 40px;
  color: black;
}


h2 {
  font-size: 60px;
  color: white;
  // background-color: rgba(0, 0, 0, 0.498039);
 }

.home-header {
  font-family: $my-font;
  font-size: 40px;
  color: black;
  // margin-top: 20px;
 }

p {
  font-size: 18px;
 }

.little-header {
  font-family: $my-font;
  font-size: 20px;
  color: black;
 }