#footer {
  background-color: black;
  height: 50px;
  padding-top: 10px;
  color: white;
  font-family: $my-font;
  font-size: 26px;
  // position: fixed;
  // left: 0px;
  // bottom: 0px;
  // width: 100%;
}