/* -------------------------------------
 * You killer button SASS module
 * ------------------------------------- */

 .btn {
  border: none;
  font-family: "bebas_neueregular";
  font-size: 22px;
  margin-top: 25px;
    margin-bottom: 25px;
 }

 .btn-info:hover {
  background-color: transparent;
  border: solid 1px white;
 }